.menu {
    width: 200px;
    margin: 10px 20px;
    
    .top {
        .title {
            margin-top: 4px;
        }
    }

    @media screen and (max-width: 800px) {
        width: 100vw;

        .top {
            padding-right: 32px;
        }
    }
}