@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Slab:@300;400;500;700&display=swap');

body {
    margin: 0;
    padding: 0;

    height: 0;
    
    font-family: 'Roboto', 'Roboto Slab', Arial, Helvetica, sans-serif;

    .content {
        min-height: calc(100vh - $header-height);
        margin-top: $header-height;
        padding-top: $crumbs-height;
    }
}

.title-light-bg {
    color: $title-text-color;
}

.text-dark-bg {
    color: #fff;
}

.no-select {
    -webkit-user-select: none;    
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.cursor-pointer { cursor: pointer; }

.text-content {
    width: 48rem;
    max-width: 60%;
    margin: 0 auto;

    background-color: rgba(#ffffff, 0.75);
    padding: 40px 10px;
}

.breadcrumbs {
    position: absolute;
    top: 0;
    margin: calc($header-height + 10px) 20px 10px 20px !important;
}