$header-height: 64px;
$footer-height: 224px;

$primary-color: #009d4f;
$secondary-color: #005850;

$primary-gray-color: #cfd2d3;
$secondary-gray-color: #6f7271;

// Text colors
$title-text-color: $secondary-color;
$link-color-light: #ddd;
$link-color-dark: #22e;